/* Базовые стили для body */
body {
    -webkit-font-smoothing: antialiased; /* Сглаживание шрифтов для WebKit */
    line-height: 1.5; /* Межстрочный интервал */
}

/* Подключение Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Класс для визуально скрытых элементов (доступность) */
.visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* Отключение событий указателя для SVG */
svg {
    pointer-events: none;
}

/* Скрытие стрелок для числовых input'ов в WebKit браузерах */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Дополнительные стили */
:root {
    --maximumViewportWidth: 1230;
}

ul {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

li {
    --size: calc(
            65px + (75 - 65) * ((100vw - 300px) / (var(--maximumViewportWidth) - 300))
    );
    height: var(--size);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05),
    0 25px 35px rgba(0, 0, 0, 0.03);
    cursor: pointer;
    list-style: none;
    user-select: none;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.view {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 7px;
    pointer-events: none;
    backface-visibility: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s linear;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back {
    transform: rotateY(-180deg);
}

img {
    max-width: calc(
            35px + (70 - 35) * ((100vw - 300px) / (var(--maximumViewportWidth) - 300))
    ) !important;
}

.flip {
    .front {
        transform: rotateY(180deg);
    }

    .back {
        transform: rotateY(0);
    }
}

.shake {
    animation: shake 0.35s ease-in-out;
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-13px);
    }
    40% {
        transform: translateX(13px);
    }
    60% {
        transform: translateX(-8px);
    }
    80% {
        transform: translateX(8px);
    }
}
