/* Базовые стили для body */
body {
    -webkit-font-smoothing: antialiased; /* Сглаживание шрифтов для WebKit */
    line-height: 1.5; /* Межстрочный интервал */
}

/* Подключение Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Класс для визуально скрытых элементов (доступность) */
.visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* Отключение событий указателя для SVG */
svg {
    pointer-events: none;
}

/* Скрытие стрелок для числовых input'ов в WebKit браузерах */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Дополнительные стили */
:root {
    --fld-chbx-bg: #3b4256;
    --fld-chbx-bdrs: 3px;
}

.checkbox,
.radio {
    width: 24px;
    height: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--fld-chbx-bg);
    border-radius: var(--fld-chbx-bdrs);
    flex-shrink: 0;
}

.radio {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    outline: 3px solid var(--fld-chbx-bg);
    border: 3px solid #fff;
    background: #fff;
}

input[type="checkbox"]:checked + .checkbox {
    background-color: var(--fld-chbx-bg);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' %3E%3Cpath d='M20 6 9 17l-5-5'/%3E%3C/svg%3E");
    background-position: center;
}

input[type="radio"]:checked + .radio {
    background: var(--fld-chbx-bg);
    border-color: #fff;
    outline-color: var(--fld-chbx-bg);
}

input[type="checkbox"]:focus-within + .checkbox {
    outline: 3px solid #e2e7ed;
}
